#top{width:50%;
padding-left:10%;
border-style:solid;
border-color:brown;
margin-left:30%;}
#bottom{
border-style:solid;
border-color:brown;
margin-top:30%;
width:50%;
margin-left:30%;
padding-left:10%;}