table{margin-left:10%;}
td{border-style:solid;
border-color:white;
height:400px;
padding:90px;}
#one{background-color:yellow;
color:yellow;}
#two{background-color:red;
color:red;}
#three{background-color:green;
color:green;}
#four{background-color:pink;
color:pink;}
#five{background-color:yellow;
color:yellow;}